doctype html
html(lang="ru")
  head
    include ../base/head
  body
    div(class=`wrapper` + (cn ? ` ` + cn : ``))
      block header
      block main
      include footer
      include ../base/scripts
